<app-header></app-header>

<style>

body{
	margin: 0px;
	padding: 0px;
	}

.about-us{
	display: inline-block;
	width:65%;
}

.goldimg{
	display: inline-block;
	margin-left: 80px;
}

img{
  margin-right: auto;
  margin-top: -350px;
  margin-left: -150px;
}

</style>

<div class="gold">
	<div class="about-us">
		<div style="cxcursive;
				font-size: 49px; color: #ea001f; margin-left: 50px;
				margin-top: 20px;">Who are we?</div>
		<div><p style="font-family: 'Baloo Bhai 2';
				font-size: 20px; color: black; margin-left: 50px;
				margin-top: 2px; margin-right: 150px;">
			Société Générale S.A. (French: [sɔsjete ʒeneʁal]), often nicknamed "SocGen" (French: [sɔk ʒɛn]), is a French multinational investment bank and financial services company headquartered in Paris, France. The company is a universal bank and has divisions supporting French Networks, Global Transaction Banking, International Retail Banking, Financial Services, Corporate and Investment Banking, Private Banking, Asset Management and Securities Services.

      Société Générale is France's third largest bank by total assets, seventh largest in Europe or seventeenth by market capitalization. The company is a component of the Euro Stoxx 50 stock market index.[6] It is considered a systemically important bank by the Financial Stability Board. It is known as one of the Trois Vieilles ("Old Three") of French banking, along with BNP Paribas and Crédit Lyonnais.
			</p>
		</div>
	</div>
	<div class="goldimg">
		<img style="width: 500px;"src="assets/images/stock_market.jpeg">
	</div>
</div>

<app-footer></app-footer>